@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-VariableFont_opsz_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Italic-VariableFont_opsz_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgba(10, 10, 10, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

:root {
  --font-Inter: 'Inter';
  --font-lineh-small: 1em;
  --font-lineh-small2: 1.2em;
  --font-lineh-normal: 1.4em;
  --font-lineh-normal-another: 1.6em;
  --font-lineh-big: 1.7em;

  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-smallStrong: 500;
  --font-weight-smallBold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --color-white: white;
  --color-black: black;
  --color-blue: rgba(59, 130, 246, 1);

  --color-light-gray: rgba(226, 232, 240, 1);
  --color-light-blue-for-icon: rgba(26, 194, 240, 1);
  --color-light-blue-for-icon-two: rgba(6, 182, 212, 1);
  --color-light-blue-for-icon-three: rgba(22, 249, 230, 1);
  --color-light-light-blue: rgba(163, 230, 255, 1);
  --color-pink: rgba(192, 132, 252, 1);
  --color-purple-for-icon: rgba(168, 85, 247, 1);
  --color-purple-for-button: rgba(107, 65, 179, 1);
  --color-orange-for-icon: rgba(245, 158, 11, 1);
  --color-orange-for-icon-two: rgba(249, 115, 22, 1);
  --color-light-green-for-icon: rgba(74, 222, 128, 1);
  --color-green-for-icon: rgba(58, 245, 11, 1);
  --color-green-text: rgba(26, 240, 51, 1);
  --color-pink-for-icon: rgba(249, 22, 173, 1);
  --color-yellow-for-icon: rgba(205, 222, 74, 1);
  --color-yellow-for-icon-two: rgba(246, 240, 59, 1);
  --color-light-gray-for-fly-block: rgba(156, 163, 175, 1);
  --color-light-gray-two: rgba(144, 161, 185, 1);
  --color-gray: rgba(156, 163, 175, 1);
  --color-light-light-green: rgba(185, 235, 249, 1);
  --color-brown-for-icon: rgba(177, 70, 70, 1);
  --color-light-gray-for-data-block: rgba(209, 213, 219, 1);
  --color-light-gray-for-traffic: rgba(216, 225, 255, 1);
  --color-gray-three: rgba(22, 47, 88, 1);

  --color-blue-for-icon: #3b82f6;

  --color-red-for-icon: rgba(239, 68, 68, 1);
  --color-light-blue: rgba(96, 165, 250, 1);

  --color-light-gray: rgba(209, 213, 219, 1);

  --color-gray-for-note-Hero: rgba(107, 114, 128, 1);
  --color-dark-gray: rgba(23, 23, 23, 1);
  --color-green: rgba(34, 197, 94, 1);
  --color-light-green: rgba(158, 240, 26, 1);

  --color-for-link-in-hero: #01fafa;

  //service-setup

  --bg-primary: #0b0f14;
  --bg-cards: rgba(255, 255, 255, 0.05);
  --bright-green: #9ef01a;
  --dark-green: #3f5b1e;
  --text-main: #e2e8f0;
  --text-gray: #94a3b8;
  --dark-blur: #144049;
  --font: Arial, sans-serif;
}

.pac-container {
  background-color: #222;
  border-top: 1px solid #111;

  & .pac-item {
    color: #fff;
    border-top: 1px solid #111;
  }

  & .pac-item-query {
    font-size: 13px;
    padding-right: 3px;
    color: #fff;
  }
}

.pac-container {
  border-radius: 0.5vw;
}

.hdpi.pac-logo::after {
  display: none !important;
}

.pac-logo:after {
  display: none !important;
  content: '';
  padding: 1px 1px 1px 0;
  height: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
  display: block;
  background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3.png);
  background-position: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 120px 14px;
  background-size: 120px 14px;
}

.react-tel-input .flag-dropdown.open .selected-flag {
  background: #222 !important;
  border-radius: 3px 0 0 !important;
  gap: 0.5vw !important;
}

.react-tel-input .country-list .country.highlight {
  background: #2e2e2e !important;
}

.react-tel-input .country-list .country {
  background: none !important;
}

.react-tel-input .country-list .country {
  &:hover {
    background: #3a3a3a !important;
  }
}

.react-tel-input .selected-flag {
  width: 1.5vw !important;
  background: none !important;
  padding: 0 0 0 0.3vw !important;
}

@media (max-width: 1530px) {
  .react-tel-input .selected-flag {
    width: 2vw !important;
  }
}

@media (max-width: 1270px) {
  .react-tel-input .selected-flag {
    width: 2.5vw !important;
  }
}

@media (max-width: 1100px) {
  .react-tel-input .selected-flag {
    width: 3vw !important;
  }
}

@media (max-width: 720px) {
  .react-tel-input .selected-flag {
    width: 4.5vw !important;
  }
}

@media (max-width: 576px) {
  .react-tel-input .selected-flag {
    width: 5vw !important;
  }
}

@media (max-width: 400px) {
  .react-tel-input .selected-flag {
    width: 7.5vw !important;
  }
}

@media (max-width: 300px) {
  .react-tel-input .selected-flag {
    width: 9vw !important;
  }
}

.react-tel-input .selected-flag:hover {
  background: none !important;
}

@media (max-width: 1530px) {
  .react-tel-input .flag {
    width: 14px !important;
    height: 10px !important;
  }
}

@media (max-width: 1270px) {
  .react-tel-input .flag {
    width: 13px !important;
    height: 9px !important;
  }
}

@media (max-width: 1100px) {
  .react-tel-input .flag {
    width: 12px !important;
    height: 8px !important;
  }
}

@media (max-width: 1024px) {
  .react-tel-input .flag {
    width: 16px !important;
    height: 11px !important;
  }
}
